<form method="POST" action="/schedules/<%=@schedules.id%>">

<label for= "name">Name:</label>
<select name="employee_id">
  <% for employee in @employees%>
  <option <%= "selected" if @employee_id == employee.id %> value="<%=employee.id%>"><%=employee.name%></option>
  <%end%>
  </select>


<label for="shift_id">Start Time</label>
<select name="shift_id">
  <% for shift in @shifts%>
    <option <%="selected" if @shift_id == shift.id%> value = "<%=shift.id%>"><%=shift.start_time%>
    </option>
  <%end%>
    </select>



  <input type ="submit" value"update"/>

</form>

